# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
!libamd.a
!libblaslike.a
!liblapack.a
!libmumps.a
!libblas.a
!libilupack.a
!libmetis.a
!libsparspak.a
*.lib

# Executables
*.exe
*.out
*.app
*.mexa64

# settings
.settings/
.cproject
.project
