# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
!libamd.a
!libblaslike.a
!liblapack.a
!libmumps.a
!libblas.a
!libilupack.a
!libmetis.a
!libsparspak.a
*.lib

# Executables
*.exe
*.out
*.app
*.mexa64


# agmg directory
src/Solver/agmg
src/Solver/ma57-3.9.0
src/Solver/hsl_mi20-1.6.0
src/Solver/cvx
src/Solver/pardiso
# settings
.settings/
.cproject
.project
